* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(50, 50, 50, 0.8)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-align: center;
}
.container {
  background: rgba(255, 255, 255, 0.15); /* white transparent glass */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
input {
  width: 22rem;
  height: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  text-align: right;
  font-size: 1.5rem;
  padding: 0 10px;
}
button {
  width: 4rem;
  gap: 0.5rem;
  height: 3.5rem;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}
button:hover {
  background: rgba(200, 200, 200, 0.9);
}

.calbtn {
  padding: 0.9rem;
  margin: 0.5rem;
  margin-left: 0.5rem;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 500px) {
  input {
    width: 15rem;
    font-size: 1.2rem;
  }
  button {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
}
